<HTML>
<BODY>
<H2><%= r.name %></H2>
<p>ID: <%= r._id %></p>
<p>Borough: <%= r.borough %></p>
<p>Cuisine: <%= r.cuisine %></p>
<p>Street: <%= r.street %></p>
<p>Building: <%= r.building %></p>
<p>Zipcode: <%= r.zipcode %></p>
<p>GPS: <%= r.longtitude %>,<%= r.latitude %> </p>
<p>owner: <%= r.owner %></p>
<p><% r.photo %></p>
<div class="row">
      <a href="/edit?id=<%= r._id %>">
        <button class="btn btn-default">Edit</button>
      </a>
</div>
<a href="/gps">GPS</a>
</BODY>
</HTML>
